@import "bootstrap/functions";

$primary: #020013;
$secondary:  #f5f5f5;
$success: #05002E;
$link-hover-color: rgba(167, 60, 197, 1);
$hr-color:  #05002E;
$hr-border-width: 2px;
$hr-opacity: 100;
$font-size-base: 0.7rem;

@import "bootstrap/variables";
@import "bootstrap/variables-dark";


// 4. Включите сюда любые переопределения карт по умолчанию
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/card";
@import "bootstrap/root";
@import "bootstrap/root";

// 6. При необходимости включите любые другие части
@import "bootstrap/utilities";
@import "bootstrap/reboot";
@import "bootstrap/tables";
@import "bootstrap/buttons";




@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/list-group";

@import "bootstrap/grid";
@import "bootstrap/helpers";

// 7. При желании добавьте API утилит в последнюю очередь, чтобы генерировать классы на основе карты Sass в `_utilities.scss`
@import "bootstrap/utilities/api";